<!-- Make something a bit prettier than this. -->
@if (loading) {
  <div>loading . . .</div>
} @else {
  <main class="container h-full flex items-center justify-center">
    <div class="flex flex-col max-h-full">
      <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
          <div class="overflow-hidden">
            <table
              class="min-w-full text-left text-sm font-light border-2 border-black overflow-auto"
            >
              <thead class="border-b font-medium dark:border-neutral-500">
                <tr>
                  <th scope="col" class="px-6 py-4">Name</th>
                  <th scope="col" class="px-6 py-4">Description</th>
                  <th scope="col" class="px-6 py-4">Assigned to</th>
                  <th scope="col" class="px-6 py-4">Created by</th>
                  <th scope="col" class="px-6 py-4">Completed</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="todo$ | async as todo">
                  <tr
                    class="z-10 border-b transition duration-300 ease-in-out hover:text-white hover:bg-neutral-100 dark:border-neutral-500 dark:hover:bg-neutral-600"
                  >
                    <td class="whitespace-nowrap px-6 py-4">
                      {{ todo.name }}
                    </td>
                    <td class="whitespace-nowrap px-6 py-4">
                      {{ todo.description }}
                    </td>
                    <td class="whitespace-nowrap px-6 py-4">
                      {{ todo.assignedTo }}
                    </td>
                    <td class="whitespace-nowrap px-6 py-4">
                      {{ todo.createdBy }}
                    </td>
                    <td class="whitespace-nowrap px-6 py-4">
                      {{ todo.completed ? 'Yes' : 'No' }}
                    </td>
                  </tr>
                  <button
                    (click)="deleteTodo(todo.id)"
                    class="border-2 bg-slate-900 text-white p-1 hover:bg-white hover:text-slate-900 active:scale-95 transition-all w-full"
                  >
                    delete todo
                  </button>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>
}
