<!-- Make something a bit prettier than this. -->
@if (loading) {
  <div>loading . . .</div>
} @else {
  @if (todo$ | async; as todo) {
    <main
      class="flex h-full w-full items-center justify-center overflow-auto bg-gray-200"
    >
      <section
        class="max-w-xs rounded-lg border bg-white p-6 shadow-lg sm:w-3/4 md:w-2/3 lg:w-1/3 lg:max-w-full"
      >
        <div class="flex items-center border-b-2 border-b-black py-3">
          <h1 class="mr-2 text-lg font-semibold">Title:</h1>
          <div class="max-h-24 overflow-y-auto">
            <p>{{ todo.title }}</p>
          </div>
        </div>
        <div class="flex items-center border-b-2 border-b-black py-3">
          <h1 class="mr-2 text-lg font-semibold">Description:</h1>

          <div class="max-h-24 overflow-y-auto">
            <p>{{ todo.description }}</p>
          </div>
        </div>

        <div class="flex items-center border-b-2 border-b-black py-3">
          <h1 class="mr-2 text-lg font-semibold">Created By:</h1>

          <div>
            <p>{{ todo.createdBy.name }}</p>
          </div>
        </div>
        <div class="flex items-center border-b-2 border-b-black py-3">
          <h1 class="mr-2 text-lg font-semibold">Created Date:</h1>
          <div>
            <p>{{ formatDate(todo.createdDate) }}</p>
          </div>
        </div>
        <div class="flex items-center border-b-2 border-b-black py-3">
          <h1 class="mr-2 text-lg font-semibold">Updated Date:</h1>

          <div>
            <p>{{ formatDate(todo.updatedDate) }}</p>
          </div>
        </div>
        <div class="flex items-center border-b-2 border-b-black py-3">
          <h1 class="mr-2 text-lg font-semibold">Due Date:</h1>

          <div>
            <p>{{ formatDate(todo.dueDate) }}</p>
          </div>
        </div>
        <div class="flex items-center py-3">
          <h1 class="mr-2 text-lg font-semibold">Completed:</h1>

          <div>
            @if (todo.completed) {
              <fa-icon
                [icon]="faCheck"
                size="lg"
                class="text-green-600"
              ></fa-icon>
            } @else {
              <fa-icon
                [icon]="faCross"
                size="lg"
                class="text-red-600"
              ></fa-icon>
            }
          </div>
        </div>

        <button
          (click)="deleteTodo(todo.id)"
          class="w-full border-2 bg-slate-900 p-1 text-white transition-all hover:bg-red-700 active:scale-95"
        >
          delete todo
        </button>
        <button
          (click)="completeTodo(todo.id, todo.version)"
          class="w-full border-2 bg-green-700 p-1 text-white transition-all hover:bg-green-600 active:scale-95"
        >
          complete todo
        </button>
      </section>
    </main>
  }
}
