<div class="overflow-y-auto mt-4 pb-4 px-2 max-h-screen flex-grow-0">
  <app-pagination />

  <!-- Make something a bit prettier than this. -->
  @if (loading) {
    <div>loading . . .</div>
  } @else {
    <table class="overflow-auto min-w-full table text-left text-sm font-light">
      <thead
        class="sticky top-0 z-index-10 bg-white border-b font-medium dark:border-neutral-500"
      >
        <tr>
          <th scope="col" class="px-6 py-4"></th>
          <th scope="col" class="px-6 py-4">Title</th>
          <th scope="col" class="px-6 py-4">Description</th>
          <th scope="col" class="px-6 py-4">Assigned To</th>
          <th scope="col" class="px-6 py-4">Due Date</th>
          <th scope="col" class="px-6 py-4">Completed</th>
          <th scope="col" class="px-6 py-4"></th>
        </tr>
      </thead>
      <tbody class="overflow-auto">
        @for (todo of todos$ | async; track todo.id) {
          <tr
            class="z-10 transition duration-300 ease-in-out hover:text-white hover:bg-neutral-100 dark:border-neutral-500 dark:hover:bg-neutral-600 cursor-pointer"
          >
            <td
              class="whitespace-nowrap px-6 py-4 flex justify-center items-center"
            >
              @if (!todo.completed) {
                <button
                  class="items-center border border-black rounded-full w-7 h-7 disabled:text-gray-400 disabled:bg-white hover:bg-slate-500 hover:border-gray-100"
                  (click)="completeTodo(todo.id)"
                ></button>
              } @else if (todo.completed) {
                <button
                  class="items-center border border-green-200 rounded-full w-7 h-7 disabled:text-gray-400 disabled:bg-white bg-green-400 hover:border-gray-100"
                  (click)="completeTodo(todo.id)"
                >
                  <fa-icon
                    [icon]="faCheck"
                    size="sm"
                    class="text-white"
                  ></fa-icon>
                </button>
              }
            </td>
            <td
              class="whitespace-nowrap px-6 py-4 line-through max-w-xs overflow-hidden overflow-ellipsis"
              [ngClass]="{ 'line-through text-gray-400': todo.completed }"
              (click)="navigate(todo.id)"
            >
              {{ todo.title }}
            </td>
            <td
              class="whitespace-nowrap px-6 py-4 max-w-xs overflow-hidden overflow-ellipsis"
              (click)="navigate(todo.id)"
              [ngClass]="{ 'line-through text-gray-400': todo.completed }"
            >
              {{ todo.description }}
            </td>
            <td
              class="whitespace-nowrap px-6 py-4"
              (click)="navigate(todo.id)"
              [ngClass]="{ 'line-through text-gray-400': todo.completed }"
            >
              {{ todo.assignedTo.name }}
            </td>
            <td
              class="whitespace-nowrap px-6 py-4"
              (click)="navigate(todo.id)"
              [ngClass]="{ 'line-through text-gray-400': todo.completed }"
            >
              {{ todo.dueDate }}
            </td>

            <td
              class="whitespace-nowrap px-6 py-4"
              (click)="navigate(todo.id)"
              [ngClass]="{ 'line-through text-gray-400': todo.completed }"
            >
              @if (todo.completed) {
                <fa-icon
                  [icon]="faCheck"
                  size="lg"
                  class="text-green-600"
                ></fa-icon>
              } @else {
                -
              }
            </td>
            <td class="whitespace-nowrap px-6 py-4">
              <button
                class="text-black p-2 hover:text-white rounded-b-md"
                (click)="deleteTodo(todo.id)"
              >
                <fa-icon
                  [icon]="faCross"
                  size="1x"
                  class="hover:text-red-400 text-red-700"
                />
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
    @if (!showForm) {
      <div class="w-full">
        <button
          class="cursor-pointer border-solid border-2 border-sky-500 rounded-md p-2 hover:bg-sky-700 hover:text-white w-full"
          (click)="toggleShowForm()"
        >
          + Create Todo
        </button>
      </div>
    } @else {
      <div class="w-full bg-white rounded-md" [formGroup]="todoFormGroup">
        <tr class="flex items-center">
          <td class="whitespace-nowrap px-6 py-4 w-100 w-1/7">
            <common-input
              formControlName="title"
              ngDefaultControl
              type="string"
              label="Title"
            />
          </td>
          <td class="whitespace-nowrap px-6 py-4 w-100">
            <common-input
              formControlName="description"
              ngDefaultControl
              type="string"
              label="Description"
            />
          </td>
          <td class="whitespace-nowrap px-6 py-4 w-100">
            <user-select-dropdown
              label="Assigned to"
              [control]="assignedToControlGroup"
            />
          </td>
          <td class="whitespace-nowrap px-6 py-4 w-100">
            <common-input
              type="date"
              formControlName="dueDate"
              ngDefaultControl
              label="Due Date"
            />
          </td>

          <td class="whitespace-nowrap px-6 py-4 w-full">
            <button
              class="cursor-pointer border-solid border-2 border-green-700 rounded-md p-2 hover:bg-green-700 hover:text-white w-full"
              (click)="handleSubmit()"
            >
              Submit
            </button>
          </td>
        </tr>
        <div class="px-5">
          <button
            class="cursor-pointer border-solid border-2 border-red-700 rounded-md p-2 hover:bg-red-700 hover:text-white w-full"
            (click)="toggleShowForm()"
          >
            <fa-icon
              [icon]="faCross"
              size="1x"
              class="hover:text-slate-200"
            ></fa-icon>
          </button>
        </div>
      </div>
    }
  }
</div>
