@if (loading) {
  <main
    class="flex h-full w-full items-center justify-center overflow-auto bg-gray-200"
  >
    <section
      class="sm:max-w-3/4 md:max-w-2/3 w-xs m-auto h-96 max-w-xs rounded-lg border bg-white p-6 shadow-lg lg:w-1/3 lg:max-w-full"
    >
      <div class="shimmer-wrapper">
        <!-- Simulate Title -->
        <div class="shimmer-box"></div>
        <!-- Simulate Description -->
        <div class="shimmer-box"></div>
        <!-- Simulate Due Date -->
        <div class="shimmer-box"></div>
        <!-- Simulate Completed Status -->
        <div class="shimmer-box"></div>
        <!-- Simulate Created By and Date -->
        <div class="shimmer-box"></div>
        <!-- Simulate Updated Date -->
        <div class="shimmer-box"></div>
      </div>
    </section>
  </main>
} @else {
  @if (todo$ | async; as todo) {
    <main
      class="flex h-full w-full items-center justify-center overflow-auto bg-gray-200"
    >
      <section
        class="sm:max-w-3/4 md:max-w-2/3 w-xs m-auto max-w-xs rounded-lg border bg-white p-6 shadow-lg lg:w-1/3 lg:max-w-full"
      >
        <div class="flex items-center border-b-2 border-b-black py-3">
          <h1
            class="mr-2 cursor-pointer text-lg font-semibold"
            (click)="toggleEditing('title')"
          >
            Title:
          </h1>
          @if (!editingStates.title) {
            <div class="max-h-24 cursor-pointer overflow-y-auto">
              <p (click)="toggleEditing('title')">{{ todo.title }}</p>
            </div>
          } @else if (editingStates.title) {
            <div class="max-h-24 overflow-y-auto">
              <common-input
                [control]="titleControlGroup"
                formControlName="title"
                ngDefaultControl
                type="text"
                [value]="todo.title"
              />
            </div>
          }
        </div>
        <div class="flex items-center border-b-2 border-b-black py-3">
          <h1
            class="mr-2 cursor-pointer text-lg font-semibold"
            (click)="toggleEditing('description')"
          >
            Description:
          </h1>

          @if (!editingStates.description) {
            <div class="max-h-24 cursor-pointer overflow-y-auto">
              <p (click)="toggleEditing('description')">
                {{ todo.description }}
              </p>
            </div>
          } @else if (editingStates.description) {
            <div class="max-h-24 overflow-y-auto">
              <common-input
                [control]="descriptionControlGroup"
                formControlName="description"
                ngDefaultControl
                type="textarea"
                [value]="todo.description"
              />
            </div>
          }
        </div>
        <div class="flex items-center border-b-2 border-b-black py-3">
          <h1
            class="mr-2 cursor-pointer text-lg font-semibold"
            (click)="toggleEditing('dueDate')"
          >
            Due Date:
          </h1>
          @if (!editingStates.dueDate) {
            <div class="cursor-pointer">
              <p (click)="toggleEditing('dueDate')">
                {{ formatDate(todo.dueDate) }}
              </p>
            </div>
          } @else if (editingStates.dueDate) {
            <div>
              <common-input
                [control]="dueDateControlGroup"
                type="date"
                formControlName="dueDate"
                ngDefaultControl
                [value]="todo.dueDate?.toString()"
              />
            </div>
          }
        </div>
        <div class="flex items-center border-b-2 border-b-black py-3">
          <h1 class="mr-2 text-lg font-semibold">Completed:</h1>

          <div>
            @if (todo.completed) {
              <fa-icon
                [icon]="faCheck"
                size="lg"
                class="text-green-600"
              ></fa-icon>
            } @else {
              <fa-icon
                [icon]="faCross"
                size="lg"
                class="text-red-600"
              ></fa-icon>
            }
          </div>
        </div>
        <div class="flex items-center border-b-2 border-b-black py-3">
          <h1 class="text-md mr-2 font-semibold text-gray-500">Created By:</h1>
          <div>
            <p class="text-gray-500">{{ todo.createdBy.name }}</p>
          </div>
        </div>
        <div class="flex items-center border-b-2 border-b-black py-3">
          <h1 class="text-md mr-2 font-semibold text-gray-500">
            Created Date:
          </h1>
          <div>
            <p class="text-gray-500">{{ formatDate(todo.createdDate) }}</p>
          </div>
        </div>
        <div class="flex items-center py-3">
          <h1 class="text-md mr-2 font-semibold text-gray-500">
            Updated Date:
          </h1>

          <div>
            <p class="text-gray-500">{{ formatDate(todo.updatedDate) }}</p>
          </div>
        </div>

        @if (!checkForEditing()) {
          <button
            (click)="deleteTodo(todo.id)"
            class="w-full border-2 bg-slate-900 p-1 text-white transition-all hover:bg-red-700 active:scale-95"
          >
            delete todo
          </button>
          <button
            (click)="completeTodo(todo)"
            class="w-full border-2 bg-green-700 p-1 text-white transition-all hover:bg-green-600 active:scale-95"
          >
            {{ todo.completed ? 'uncomplete todo' : 'complete todo' }}
          </button>
        } @else if (checkForEditing()) {
          <button
            (click)="resetValue()"
            class="w-full border-2 bg-slate-900 p-1 text-white transition-all hover:bg-red-700 active:scale-95"
          >
            Cancel
          </button>
          <button
            (click)="saveChanges(todo)"
            class="w-full border-2 bg-green-700 p-1 text-white transition-all hover:bg-green-600 active:scale-95"
          >
            Save Change
          </button>
        }
      </section>
    </main>
  }
}
