@if (shouldShowSidebar()) {
  <div class="flex flex-col md:flex-row h-full container min-w-full">
    <!-- Sidebar -->
    <div
      class="bg-gray-800 text-white md:flex flex-col border-2 border-red-500"
      [ngClass]="getSideBarStyle()"
      id="sidebar"
    >
      <div class="flex items-center justify-between">
        <a href="/" class="py-2 px-3 text-center">
          <fa-icon
            [icon]="faHome"
            size="2x"
            class="hover:text-slate-200"
          ></fa-icon>
        </a>
        <button class="py-2 px-3 text-center text-lg" (click)="toggleSidebar()">
          @if (windowWidth > 767) {
            <fa-icon
              [icon]="
                isSidebarOpen() ? faChevronCircleLeft : faChevronCircleRight
              "
              size="2x"
              class="hover:text-slate-200"
            ></fa-icon>
          } @else {
            <fa-icon
              [icon]="isSidebarOpen() ? faChevronCircleUp : faChevronCircleDown"
              size="2x"
              class="hover:text-slate-200"
            ></fa-icon>
          }
        </button>
      </div>

      @if (isSidebarOpen()) {
        <div class="flex flex-col grow items-center justify-between">
          <ul class="mt-6 mb-6">
            @for (link of sideBarLinks$ | async; track link.name) {
              <a href="{{ link.url }}">{{ link.name }}</a>
            }
          </ul>
          <div>
            <button
              class="border border-white rounded-md p-2 mb-6 hover:bg-white hover:text-red-500"
              (click)="logout()"
            >
              Logout
            </button>
          </div>
        </div>
      }
    </div>
    <!-- Main Content -->

    <div class="w-full border-2 border-pink-600">
      <router-outlet></router-outlet>
    </div>
  </div>
} @else {
  <router-outlet></router-outlet>
}
