<!-- replace buttons with common-btn -->

<div class="flex items-center justify-between">
  <div class="flex w-fit rounded-lg border border-slate-300">
    <button
      [disabled]="(skip$ | async) === 0"
      class="flex items-center justify-center rounded-l-lg border-r-2 bg-white p-2 hover:bg-slate-500 hover:text-white disabled:bg-white disabled:text-gray-400"
      (click)="previousPage()"
    >
      <fa-icon [icon]="faChevronCircleLeft" size="1x" class="mr-1"></fa-icon>
      Previous
    </button>
    @if (take$ | async; as take) {
      @for (page of pageCountArr$ | async; track $index) {
        <button
          class="flex w-10 items-center justify-center rounded bg-white p-2 hover:bg-slate-500 hover:text-white"
          [ngClass]="{ 'border border-black': page * take === (skip$ | async) }"
          (click)="updatePage(page)"
        >
          {{ page + 1 }}
        </button>
      }
      <button
        [disabled]="isNextButtonDisabled$ | async"
        class="flex items-center justify-center rounded-r-lg border-l-2 bg-white p-2 hover:bg-slate-500 hover:text-white disabled:bg-white disabled:text-gray-400"
        (click)="nextPage()"
      >
        Next
        <fa-icon [icon]="faChevronCircleRight" size="1x" class="ml-1"></fa-icon>
      </button>
    }
  </div>
  <div class="flex items-center justify-center">
    <h4 class="mr-1">Showing:</h4>
    @if (combinedData$ | async; as data) {
      <div>
        {{ data.skip }} -
        {{ data.skipPlusTake > data.count ? data.count : data.skipPlusTake }} of
        {{ data.count }}
      </div>
    }
  </div>
</div>
