<div
  class="flex items-center sm:w-3/4 md:w-3/4 h-32 flex-col align-middle justify-center p-4 border border-grey bg-white rounded-md transition-all shadow-md mb-3"
  [ngClass]="
    disabled
      ? 'hover: shadow-md ml-0'
      : 'hover:ml-3  hover:shadow-xl cursor-pointer'
  "
  [routerLink]="disabled ? null : [link.routerLink]"
  [class.disabled]="disabled"
>
  <a
    [routerLink]="disabled ? null : [link.routerLink]"
    [class.disabled]="disabled"
    routerLinkActive="router-link-active"
    class="text-5xl font-mono"
    [ngClass]="disabled ? 'text-slate-400 ' : 'text-slate-700'"
    >{{ link.linkName }}</a
  >
</div>
